* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    width: 150px;
    height: 20px;
    padding: 15px;
    margin: 10px auto;
    display: block;
}

button {
    width: 150px;
    height: 20px;
    margin: 10px auto;
    display: block;
    text-transform: uppercase;
}

div {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    display: block;
    border: 1px solid black;
}

p {
    text-transform: uppercase;
    text-align: center;
}